.main_container{
    box-shadow: 0px 3px 4px #00000014;
    border : 3px solid darkslateblue;
    border-radius: 10px;
    width:auto;
    margin-top: 20px;
    background-color: antiquewhite;
    padding : 20px;    
}
h2{color: darkslateblue; font-style:italic}
.inner_container{
    display:flex ;
    justify-content: center;
    gap: 10px;
}
.inputfield{
    margin-bottom: 10px;
}
.deletebutton{
    color: white;
    margin-bottom: 10px;
}
.addbutton{
    background-color: darkslateblue;
    color:white;
    font-weight: 500;
    padding:10px;
    margin : 5px 10px;
    border-radius: 5px;
}